<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Enable GZip Compression -->
        <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
            <dynamicTypes>
                <add mimeType="text/html" enabled="true" />
                <add mimeType="text/plain" enabled="true" />
                <add mimeType="text/xml" enabled="true" />
                <add mimeType="text/css" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="text/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="application/xml" enabled="true" />
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/css" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="image/svg+xml" enabled="true" />
            </staticTypes>
        </httpCompression>

        <!-- HTTP Response Headers for Caching -->
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <mimeMap fileExtension=".woff" mimeType="font/woff" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>

        <!-- URL Rewrite Rules -->
        <rewrite>
            <rules>
                <!-- Redirect HTTP to HTTPS -->
                <rule name="Force HTTPS" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
                </rule>

                <!-- Remove WWW -->
                <rule name="Remove WWW" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.(.+)$" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="https://{C:1}/{R:1}" />
                </rule>
            </rules>
        </rewrite>

        <!-- Request Filtering (Security) -->
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".env" allowed="false" />
                    <add fileExtension=".git" allowed="false" />
                    <add fileExtension=".gitignore" allowed="false" />
                </fileExtensions>
                <hiddenSegments>
                    <add segment=".git" />
                    <add segment=".env" />
                    <add segment="node_modules" />
                </hiddenSegments>
            </requestFiltering>
        </security>

        <!-- Remove Server Headers (Security) -->
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
            </customHeaders>
        </httpProtocol>

        <!-- Directory Browsing Disabled -->
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
